<div class="row" id="search" *ngIf="seeInput">

    <form #gitForm ='ngForm' name="gitForm" (ngSubmit)="submitName()">
      <div class="search">
          
        <input type="text" class="form-control" id="username" [(ngModel)]="userName" name="username" autocomplete="off" placeholder="Github UserName">
        <button type="submit" class="btn btn-primary " >Search</button>
       
      </div>  
    </form>
    <app-github *ngIf="seeData" (toggleData)="seeUserInput($event)"></app-github>
    <!-- <app-git-form></app-git-form> -->
</div>
